*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(teal,turquoise,blue);
    height: 100vh;
}

body .main-div{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.container .title{
    margin-bottom: 30px;
    text-align: center;
}

.container .content-container .question{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid black;

    position: relative;
}

.container .content-container .question::after{
    content: '+';
    position: absolute;
    right: -5px;
}

.container .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.container .content-container.active .answer{
    height: 180px;
}

.container .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}

.container .content-container.active .question::after{
    content: '-';
    font-size: 30px;
    transition: .5s;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}
  
.nav ul {
  list-style: none;
  margin: 0;
}

.nav li {
    display: inline-block;
  margin-left: 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}