*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 550px;
    height: 450px;
}

body{
    height: 100vh;
    text-align: center;
    background: linear-gradient(#f95700,#ffd166,#f95700);
    font-family: Arial, sans-serif;
}

body .div{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    margin: 0 auto;
}

.main-header{
    padding-top: 50px;
    padding-bottom: 10px;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.toppings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toppings button {
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 100px;
}

.t_add button {
    background-color: green;
}

.t_add button:hover{
    background-color: rgb(78, 245, 78);
}

.t_rem button {
    background-color: red;
}

.t_rem button:hover{
    background-color: rgb(241, 55, 55);
}

.price-display{
    padding-top: 10px;
}

.price{
    padding-bottom: 10px;
}

.p-btn{
    padding: 5px;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
    background-color: green;
    color: white;
    border-radius: 10%;
    margin-bottom: 15px;
}

.p-btn:hover{
    cursor: pointer;
    background-color: rgb(78, 245, 78)
}

button{
    background-color: transparent;
    border: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav li {
    display: inline-block;
  margin-left: 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
